.product_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px,1fr));
    max-width: 1200px;
    margin: 100px auto 100px auto;
    gap: 16px;
    justify-items: center;
    padding: 20px;
}
.product_container section{
margin: 0 auto;
}
.product_container > * {
  height: 100%;
}
.title {
  padding: 20px;
  font-size: 20px;
}

.path {
  padding: 0 20px 10px;
  color: #555;
}
