.card_container {
width: 250px;
box-shadow: 0 0 10px rgba(0,0,0,0.2);
padding: 10px;
color: black;
text-decoration: none;
position: relative;
 background: #fff;
  border-radius: 6px;
  text-align: center;
  padding: 8px;

}

.card_container img{
    padding: 5px;
    width: 100%;
    height: 120px;
    object-fit: contain;
}
.card_container:hover .button{
    display: block;
}
.card_container h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 6px 0;
  height: 32px;
  overflow: hidden;
}
.button{
    display: none;
    padding:4px 8px;
    font-weight: 700;
    font-size: 12px;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 100%;
    margin: 8px 0;
    border-radius: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}
.button:hover{
    background-color: var(--primary-shade);
}
.rating{
    display: flex;
    align-items: center;
    padding: 10px 0;
    justify-content: center;
  gap: 4px;
}
.product_container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    max-width: 1200px;
    margin: 100px auto 100px auto;
    gap: 20px;
    justify-items: center;
}
.product_container section {
    margin: 0 auto;
}
.product_flexed{
    box-shadow: none;
    height: auto;
    display: flex;
    gap: 16px;
    width: 100%;
}
.product_flexed h3{
    padding: 20px,0px;
}
.product_flexed .button{
    display: block;
    position: static;
    width: -150px;
    margin-right: 40px;
}
.product_flexed{
    height: 70vh;
}
.product_flexed img{
    width:100px !important;
    height: auto;
}
@media screen and (max-width:768px){
    .product_flexed{
        display: flex;
        flex-direction: column;
    }
}