.lower {
  background-color: #131a22;
  color: gray;
  font-size: 12px;
}
.lower_container {
  display: flex;
  gap: 40px;
  justify-content: center;
  padding-top: 15px;
}

.lower_container li {
  list-style: none;
}
.lower h3,
.lower p {
  color: white;
  opacity: 0.8;
}

.col2,
.col1,
.col3,
.col4,
.col5,
.col6,
.col7 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.col2,
.col1,
.col3,
.col4,
.col5,
.col6,
.col7 ul {
  padding: 20px;
}
.col8 ul {
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  width: 45%;
  padding-bottom: 5px;
}
.col8 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
  color: white !important;
}

.lower ul:hover {
  text-decoration: underline;
}
.upper {
  color: white;
}
.upper_footer a {
  padding: 30px auto;
}
.upper_footer,
.lowest {
  background-color: #37475a;
  color: white;
}
.upper_footer li a {
  color: white;
  text-decoration: none;
}
.upper_footer li {
  display: block;
  text-align: center;
}
.middle_footer {
  background-color: #232f3e;
  padding: 20px auto;
  
  
  display: flex;
  justify-content: center;
}
.middle_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  font-size: 15px;
  width: 90%;
}
.col{
  color: whitesmoke;
  opacity: 0.7;
}
.middle_container div li {
  list-style: none;
  padding: 5px auto;
  opacity: 0.65;
}
.middle_container div {
  gap: 50px;
}

.middle_container div li:hover {
  text-decoration: underline;
}
.cola,
.colb,
.colc,
.cold {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.cola,
.colb,
.colc,
.cold ul {
  padding: 40px;
}
.lang img {
  width: 30px;
  height: 20px;
}
.lowest {
  padding: 10px;
  border-top: 0.5px solid rgba(240, 248, 255, 0.269);
}
.lowest_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px auto;
}
.lowest_container li,
.lowest_container img {
  padding: 5px 5px;
}
.log {
  display: flex;
  list-style: none;
  gap: 5px;
 box-sizing: border-box;
}
.log li {
  border: 1px solid white;
  padding: 10px 10px;
}

.lli {
  display: flex;
  gap: 2px;
  flex-direction: row;
  background-color: #37475a;
  border: none;
  color: white;
}

.lli select {
  background-color: #37475a;
  border: none;
  color: white;
}

.images {
  padding: 10px auto;
  max-width: 200px;
  align-items: center;
}
.logo {
  width: 50%;
  height: auto;
}
