.cate h2, .cate p{
padding: 5px;
margin-left: 15px;
}
.cate p{
    font-size: 12px;
    font-weight: bold;
    color: cornflowerblue;
}
.cate{
height: 350px;
width: 350px;
background-color: aliceblue;
box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
display: flex;
flex-direction: row;
flex-flow: row wrap;
}
.cate img{
    width: 100%;
    object-fit: contain;
    max-height: 250px;
    padding: 0px 10px;
}
.cate a{
    text-decoration: none;
    color: black;
}
.container{
    position: relative;
    margin-top: -350px;
    display: grid;
    grid-template-columns: repeat(4,4fr);
    place-items: center;
}